<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('back/bootstrap.css') }}">
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AppSymfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <li class="nav-item">
        <a class="nav-link" href="">connected as: {{app.user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_security_logout')}}">{{'layout.logout' | trans({}, 'FOSUserBundle')}}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_security_login')}}">{{'layout.login' | trans({}, 'FOSUserBundle')}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_registration_register')}}">{{'layout.register' | trans({}, 'FOSUserBundle')}}</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
